body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    color: #FECD23;
    text-align: center;
}
.title, .sub-title{
    text-align: center;
}
.container {
    background-color: rgba(48, 40, 40, 0.986);
    color: #F5F5F5;
    padding: 20px;
    margin: 25px auto;
    width: 90%; /* Alterado para 90% */
    max-width: 900px; /* Largura máxima em telas maiores */
    border-radius: 10px;
    position: relative;
}

.sub-container {
    background-color: #5D1D67;
    padding: 20px;
    text-align: center;
    width: 90%; /* 100% para ocupar toda a largura disponível */
    margin: 25px auto;
    border-radius: 10px;
}
.entrada-dados{
 
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    text-align: center; 
    border-radius: 4px; 
    width:100%; /* Ocupar 50% da largura da página */
    margin: 0 auto; /* Centralizar o elemento horizontalmente */
    box-sizing: border-box;
    
   

}
input {  
    width: 95%;  
    margin-top: 25px;
    height: 45px;
    border-radius: 10px;
    font-size: 25px;/*tamanho da fonte*/
    outline: none;/*Remove a sombra interna*/
    
}  

.cards {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
    justify-content: space-between;
    gap: 25px;
    margin-top: 45px;
}
.sports-sombra, .airport-sombra, .psychology-sombra{
    background-color: rgb(39, 55, 218);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 15px;
}
.sports, .airport, .psychology {

    background-color: #4064F0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    flex-direction: column;
}
button {
    background-color: #200D23;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 100%; /* Ajustado para 100% */
    padding: 0.9rem 3rem;
    font-size: 12px;
    text-align: center;

}
button:hover {
    background-color: red;
}

button:active {
    background-color: #1e3278;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(64, 100, 240, 0.5);
}

footer{
    text-align: center;
}