body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    color: #FECD23;
    text-align: center;
}

.title,
.sub-title {
    text-align: center;
}

.container {
    background-color: rgba(48, 40, 40, 0.986);
    color: #F5F5F5;
    padding: 20px;
    margin: 25px auto;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
}

.sub-container {
    background-color: #5D1D67;
    padding: 20px;
    text-align: center;
    margin: 25px auto;
    border-radius: 10px;
    right: 250px;
    
}

.entrada-dados {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    box-sizing: border-box;



}

input {
    width: 95%;
    margin-top: 25px;
    height: 45px;
    border-radius: 10px;
    font-size: 25px;
    outline: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens quebrem linha se necessário */
    justify-content: space-between;
    gap: 25px;
    margin-top: 45px;
}

.sports-sombra,
.airport-sombra,
.psychology-sombra {
    background-color: rgb(39, 55, 218);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 15px;
}

.sports,
.airport,
.psychology {

    background-color: #4064F0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    flex-direction: column;
    max-width: 100%;
}

button {
    background-color: #200D23;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 100%;
    /* Ajustado para 100% */
    padding: 0.9rem 3rem;
    font-size: 12px;
    text-align: center;

}

button:hover {
    background-color: red;
}



footer {
    text-align: center;
}


@media screen and (max-width: 20px) {
    html {
        font-size: 14px;
    }

    .container {
        flex-direction: column;
    }

    .sub-container {
        width: 100%;
        box-sizing: border-box;
    }

    .container {
        width: 100%;


    }

    .title,
    .sub-title {
        padding: 15px;
    }

}